My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "bcb4232b-1c12-415b-b0f4-f2990517faae",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "reenad18gh@gmail.com",
        "subject": "Your Tasks",
        "emailType": "text",
        "message": "={{$json[\"text\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        0
      ],
      "id": "849997f7-03a0-48af-9df4-26cd99c15bc9",
      "name": "Send a message",
      "webhookId": "c1cfc451-e064-4aa7-8ac3-8e50d9768852",
      "credentials": {
        "gmailOAuth2": {
          "id": "xSErdYFCxOTW6eNW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Mode: Run Once for All Items\n# يجمع القيم من عمود Tasks ويرجعها كنص مرتب لإرسالها بالإيميل\n\nCOLUMN = \"Tasks\"         # ← اسم العمود الصحيح\nPREFIX_NUMBERING = True  # لو تبين ترقيم (1. 2. 3...)\n\nrows = []\nfor item in items:\n    row = item.get(\"json\", {})\n    value = row.get(COLUMN, \"\")\n    if value not in (\"\", None):\n        rows.append(str(value).strip())\n\nif PREFIX_NUMBERING:\n    lines = [f\"{i+1}. {v}\" for i, v in enumerate(rows)]\nelse:\n    lines = rows\n\ntext_body = \"\\n\".join(lines) if lines else \"No data found in sheet.\"\n\nreturn [{\n    \"json\": {\n        \"text\": text_body\n    }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "d2d46b5d-91f5-4fee-9c96-21b903a492eb",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_W-B4CLkOerrx_nTDXGh7LMFdVrsJfrbg9TToeqGxyw",
          "mode": "list",
          "cachedResultName": "Rinad Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_W-B4CLkOerrx_nTDXGh7LMFdVrsJfrbg9TToeqGxyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_W-B4CLkOerrx_nTDXGh7LMFdVrsJfrbg9TToeqGxyw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "01cecf10-7d1d-4d8d-9976-d5105a704cfc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JybBN2TjAmWQ9AyL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3ee2a9a4-225e-4857-ba59-a41a75e8ee0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1041bbfd257cd2f186844da376eca22ed92b477fc89a4404473211efa5a5d40"
  },
  "id": "xbhyTuhL4Mlef4nY",
  "tags": []
}